script
	if equipment_used
		equipment_used = !{JSON.stringify(equipment_used)}

script.
	let all_equipment = !{JSON.stringify(equipment)};

	let unavailable_equipment = [];

	function addEquipmentField() {
		let max_quantity = 0;

		$('<div>').attr('class', 'row form-group').attr('id', 'rowEquipment' + equipment_count).appendTo('#equipment');

		$('<div>')
			.attr('class', 'col')
			.attr('id', 'equipmentNameCol' + equipment_count)
			.appendTo('#rowEquipment' + equipment_count);
		$('<label>').attr('for', 'equipmentID' + equipment_count).appendTo('#equipmentNameCol' + equipment_count).text('Equipment ' + equipment_count + ' Name');
		$('<select>')
			.attr('class', 'form-control')
			.attr('id', 'selectEquipment' + equipment_count)
			.attr('name', 'equipmentID' + equipment_count)
			.attr('onChange', 'selectedEquipment(this)')
			.appendTo('#equipmentNameCol' + equipment_count);
		all_equipment.forEach(function (equip) {
			let select = $('#selectEquipment' + equipment_count);
			if(unavailable_equipment.includes(equip._id) || equip.quantity <= 0){
				select.append('<option value="'+equip._id+'" disabled>'+equip.typeName+'</option>');
			} else {
				select.append('<option value="'+equip._id+'">'+equip.typeName+'</option>');
				unavailable_equipment.push(equip._id);
			}
		});

		$('<div>').attr('class', 'col').attr('id', 'equipmentQuantityCol' + equipment_count).appendTo('#rowEquipment' + equipment_count);
		$('<label>').attr('for', 'quantity' + equipment_count).appendTo('#equipmentQuantityCol' + equipment_count).text('Quantity ' + equipment_count);
		$('<input>')
			.attr('type', 'number')
			.attr('class', 'form-control')
			.attr('name', 'quantity' + equipment_count)
			.attr('min', '1')
			.attr('max',all_equipment[0].quantity)
			.appendTo('#equipmentQuantityCol' + equipment_count);

		if (equipment_count === 0) {
			$('div[name=quantity' + equipment_count + ']').attr('max', all_equipment[0].quantity);
		}

		$('<div>')
			.attr('class', 'col')
			.attr('id', 'removeEquipmentCol' + equipment_count)
			.attr('style', 'flex-grow:0;position:relative;')
			.appendTo('#rowEquipment' + equipment_count);
		$('<a>')
			.attr('class', 'options-btn')
			.attr('href', '#')
			.attr('id', 'removeEquipmentIcon' + equipment_count)
			.attr('style', 'position:absolute;bottom:0;left:0')
			.attr('onclick', '$(this).parent().parent().remove()')
			.appendTo('#removeEquipmentCol' + equipment_count);
		$('<i>').attr('class', 'material-icons md-18').text('delete').appendTo('#removeEquipmentIcon' + equipment_count);

		equipment_count++;
	}

	function selectedEquipment(event) {
		all_equipment.forEach(function (equip) {
			if (equip._id === event.value && equip.quantity > 0){
				let input = $(event).parent().parent().find('input')[0];

				input.setAttribute('max', equip.quantity);
				if(input.value > equip.quantity){
					input.value = equip.quantity;
				}

				unavailable_equipment.push(equip._id);

				checkAddedEquip();
			}
		});
	}

	function checkAddedEquip(){
		let selections = $("#equipment").find('select');

		unavailable_equipment.forEach(function(disabled_eq){
			selections.forEach(function(selection){
				if(selection.value === disabled_eq) {
					selections.forEach(function (selection) {
						selection.find('option').forEach(function (option) {
							if (option.value === disabled_eq) {
								option.removeAttribute('disabled');
							}
						});
					});

					all_equipment.forEach(function (equip) {
						if (equip._id == disabled_eq) {
							if (equipment_used) {
								equipment_used.forEach(function (equip_used) {
									if (equip_used._id == disabled_eq) {
										equip.quantity = equip.quantity + equip_used.reqQty;
										equip_used.reqQty = 0;
									}
								});
							}
						}
					});
				}
			});
		});
	}