script.
	let all_staff = !{JSON.stringify(staff)};

	let unavailable_staff = [];

		$(document).ready(function () {
			let visitor_selects = $("#visitors select");
			for (let i = 0; i < visitor_selects.length; i++) {
				let selects = $('#visitors select option[value="' + visitor_selects[i].value + '"]:selected');
				if (selects.length >= 1) {
					let option = $('#visitors select option[value="' + visitor_selects[i].value + '"]');
					option.attr('disabled', true);

					selects[0].removeAttribute('disabled');
				}
			}
		});

	function addStaffField() {
		$('<div>').attr('class', 'row form-group').attr('id', 'rowStaff' + staff_count).appendTo('#staff');

		$('<div>')
				.attr('class', 'col')
				.attr('id', 'staffNameCol' + staff_count)
				.appendTo('#rowStaff' + staff_count);
		$('<label>').attr('for', 'staffID' + staff_count).text('Staff Member ' + staff_count + ' Name').appendTo('#staffNameCol' + staff_count);
		$('<select>')
				.attr('class', 'form-control')
				.attr('id', 'selectStaff' + staff_count)
				.attr('name', 'staffID' + staff_count)
				.attr('onChange', 'selectedStaffMember(this)')
				.appendTo('#staffNameCol' + staff_count);
		let select = $('#selectStaff' + staff_count);
		all_staff.forEach(function (staff_member) {
			if (unavailable_staff.includes(staff_member._id)) {
				select.append('<option value="' + staff_member._id + '" disabled>' + staff_member.fullName + '</option>');
			} else {
				select.append('<option value="' + staff_member._id + '">' + staff_member.fullName + '</option>');
			}
		});

		$('<div>').attr('class', 'col').attr('id', 'staffRoleCol' + staff_count).appendTo('#rowStaff' + staff_count);
		$('<label>').attr('for', 'staffRole' + staff_count).appendTo('#staffRoleCol' + staff_count).text('Staff Member ' + staff_count + ' Role');
		$('<input>')
				.attr('type', 'text')
				.attr('class', 'form-control')
				.attr('name', 'staffRole' + staff_count)
				.appendTo('#staffRoleCol' + staff_count);

		$('<div>')
				.attr('class', 'col')
				.attr('id', 'removeStaffCol' + staff_count)
				.attr('style', 'flex-grow:0;position:relative;')
				.appendTo('#rowStaff' + staff_count);
		$('<a>')
				.attr('class', 'options-btn')
				.attr('href', '#')
				.attr('id', 'removeStaffIcon' + staff_count)
				.attr('style', 'position:absolute;bottom:0;left:0')
				.attr('onclick', '$(this).parent().parent().remove();checkAddedStaff();')
				.appendTo('#removeStaffCol' + staff_count);
		$('<i>').attr('class', 'material-icons md-18').text('delete').appendTo('#removeStaffIcon' + staff_count);

		staff_count++;

		let selected_option = select.val();

		unavailable_staff.push(select.val());

		let option = $('#staff select option[value="' + selected_option + '"]')
		option.attr('disabled', true);

		for(let i=0; i < select.find('option').length; i++){
			if(select.find('option')[i].value === selected_option){
				select.find('option')[i].removeAttribute('disabled');
				break;
			}
		}

		checkAddedStaff();
	}

	function selectedStaffMember(event) {
		if (!unavailable_staff.includes(event.value)) {
			unavailable_staff.push(event.value);

			$('#staff select option[value="' + event.value + '"]').attr('disabled', true);

			event.options[event.selectedIndex].removeAttribute('disabled');
		}

		checkAddedStaff();
	}

	function checkAddedStaff() {
		for (let i = 0; i < unavailable_staff.length; i++) {
			let option = $('#staff select option[value="' + unavailable_staff[i] + '"]:selected');
			if (option.length < 1) {
				$('#staff select option[value="' + unavailable_staff[i] + '"]').removeAttr('disabled');
				unavailable_staff.splice(i, 1);
			}
		}
	}