script.
	let all_visitors = !{JSON.stringify(visitors)};

	let unavailable_visitors = [];

	function addVisitorField() {
		$('<div>').attr('class', 'row form-group').attr('id', 'rowVisitor' + visitor_count).appendTo('#visitors');

		$('<div>')
				.attr('class', 'col')
				.attr('id', 'visitorCol' + visitor_count)
				.appendTo('#rowVisitor' + visitor_count);
		$('<label>').attr('for', 'visitorID' + visitor_count).appendTo('#visitorCol' + visitor_count).text('Visitor ' + visitor_count + ' Name');
		$('<select>')
				.attr('class', 'form-control')
				.attr('id', 'selectVisitor' + visitor_count)
				.attr('name', 'visitorID' + visitor_count)
				.appendTo('#visitorCol' + visitor_count);

		all_visitors.forEach(function (visitor) {
			let select = $('#selectStaff' + visitor_count);
			if (unavailable_visitors.includes(visitor._id)) {
				select.append('<option value="' + visitor._id + '" disabled>' + visitor.leadTeacherName + '</option>');
			} else {
				select.append('<option value="' + visitor._id + '">' + visitor.leadTeacherName + '</option>');
				unavailable_visitors.push(visitor._id);
			}
		});

		$('<div>')
				.attr('class', 'col')
				.attr('id', 'removeVisitorCol' + visitor_count)
				.attr('style', 'flex-grow:0;position:relative;')
				.appendTo('#rowVisitor' + visitor_count);
		$('<a>')
				.attr('class', 'options-btn')
				.attr('href', '#')
				.attr('id', 'removeVisitorIcon' + visitor_count)
				.attr('style', 'position:absolute;bottom:0;left:0')
				.attr('onclick', '$(this).parent().parent().remove()')
				.appendTo('#removeVisitorCol' + visitor_count);
		$('<i>').attr('class', 'material-icons md-18').text('delete').appendTo('#removeVisitorIcon' + visitor_count);

		visitor_count++;
	}

	function selectedVisitor(event) {
		if (!unavailable_staff.includes(event.value)) {
			unavailable_staff.push(event.value);

			checkAddedVisitors();
		}
	}

	function checkAddedVisitors() {
		let selections = $("#visitors").find('select');

		unavailable_visitors.forEach(function (disabled_visitor) {
			selections.forEach(function (selection) {
				if (selection.value === disabled_visitor) {
					selections.forEach(function (selection) {
						selection.find('option').forEach(function (option) {
							if (option.value === disabled_visitor) {
								option.removeAttribute('disabled');
							}
						});
					});
				}
			});
		});
	}