script.
	let all_visitors = !{JSON.stringify(visitors)};

	let unavailable_visitors = [];

	function addVisitorField() {
		$('<div>').attr('class', 'row form-group').attr('id', 'rowVisitor' + visitor_count).appendTo('#visitors');

		$('<div>')
				.attr('class', 'col')
				.attr('id', 'visitorCol' + visitor_count)
				.appendTo('#rowVisitor' + visitor_count);
		$('<label>').attr('for', 'visitorID' + visitor_count).appendTo('#visitorCol' + visitor_count).text('Visitor ' + visitor_count + ' Name');
		$('<select>')
				.attr('class', 'form-control')
				.attr('id', 'selectVisitor' + visitor_count)
				.attr('name', 'visitorID' + visitor_count)
				.attr('onChange', 'selectedVisitor(this)')
				.appendTo('#visitorCol' + visitor_count);

		let select = $('#selectVisitor' + visitor_count);
		all_visitors.forEach(function (visitor) {
			if (unavailable_visitors.includes(visitor._id)) {
				select.append('<option value="' + visitor._id + '" disabled>' + visitor.leadTeacherName + '</option>');
			} else {
				select.append('<option value="' + visitor._id + '">' + visitor.leadTeacherName + '</option>');
			}
		});

		$('<div>')
				.attr('class', 'col')
				.attr('id', 'removeVisitorCol' + visitor_count)
				.attr('style', 'flex-grow:0;position:relative;')
				.appendTo('#rowVisitor' + visitor_count);
		$('<a>')
				.attr('class', 'options-btn')
				.attr('href', '#')
				.attr('id', 'removeVisitorIcon' + visitor_count)
				.attr('style', 'position:absolute;bottom:0;left:0')
				.attr('onclick', '$(this).parent().parent().remove()')
				.appendTo('#removeVisitorCol' + visitor_count);
		$('<i>').attr('class', 'material-icons md-18').text('delete').appendTo('#removeVisitorIcon' + visitor_count);

		visitor_count++;

		let selected_option = select.val();

		unavailable_visitors.push(selected_option);

		let option = $('#visitors select option[value="' + selected_option + '"]')
		option.attr('disabled', true);

		for (let i = 0; i < select.find('option').length; i++) {
			if (select.find('option')[i].value === selected_option) {
				select.find('option')[i].removeAttribute('disabled');
				break;
			}
		}

		checkAddedVisitors();
	}

	function selectedVisitor(event) {
		if (!unavailable_visitors.includes(event.value)) {
			unavailable_visitors.push(event.value);
		}

		$('#visitors select option[value="' + event.value + '"]').attr('disabled', true);

		event.options[event.selectedIndex].removeAttribute('disabled');

		checkAddedVisitors();
	}

	function checkAddedVisitors() {
		for(let i=0;i<unavailable_visitors.length;i++){
			let option = $('#visitors select option[value="'+unavailable_visitors[i]+'"]:selected');
			if(option.length < 1){
				$('#visitors select option[value="' + unavailable_visitors[i] + '"]').removeAttr('disabled');
				unavailable_visitors.splice(i,1);
			}
		}
	}