extends layout

block content
	.container

		h3.title=title
		hr

		div#calendar

	script(src='/@fullcalendar/core/main.js')
	script(src='/@fullcalendar/daygrid/main.js')
	script.
		document.addEventListener('DOMContentLoaded', function () {
			var calendarEl = document.getElementById('calendar');

			var calendar = new FullCalendar.Calendar(calendarEl, {
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'dayGridMonth,dayGridWeek'
				},
				plugins: ['dayGrid'],
				views: {
					timeGridFourDay: {
						type: 'timeGrid',
						duration: { days: 4 },
						buttonText: '4 day'
					}
				},
				events: !{JSON.stringify(events)}
			});

			calendar.render();
		});
