doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')

        if title == 'Calendar'
            link(rel='stylesheet', href='/@fullcalendar/core/main.min.css')
            link(rel='stylesheet', href='/@fullcalendar/daygrid/main.min.css')

        script(src='/javascripts/jquery/jquery.min.js')
        script(src='/javascripts/popper/popper.min.js')
        script(src='/javascripts/bootstrap/bootstrap.min.js')

    body
        nav.navbar.navbar-dark.bg-dark.fixed-top
            a.navbar-brand(href='/')
                img.img-responsive#logo(src='/images/logo-transparent.png' alt="University of Liverpool Logo",)

            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#menu', aria-controls='menu', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
        .content
            #menu.collapse.navbar-collapse(style="z-index:2")
                ul.navbar-nav.mr-auto
                    if user && user.permission >= 0
                        li.nav-item
                            a.nav-link(href='/welcome') Home
                        li.nav-item
                            a.nav-link(href='/events/calendar') Calendar

                    if user && user.permission === 0
                        li.nav-item
                            a.nav-link(href='/users/list-users') Staff
                        li.nav-item
                            a.nav-link(href='/rooms/list-rooms') Rooms
                        li.nav-item
                            a.nav-link(href='/events/list-events') Events
                        li.nav-item
                            a.nav-link(href='/visitors/list-visitors') Visitors
                        li.nav-item
                            a.nav-link(href='/equipment/list-equipment') Equipment
                        li.nav-item
                            a.nav-link(href='/event-types/list-event-type') Event Types

                    if user && user.permission >= 0
                        li.nav-item
                            a.nav-link(href='/events/export') Export
                        li.nav-item
                            a.nav-link(href='/events/participate-events-list') Attending Events

                    if user
                        if user.permission === 0
                            li.nav-item
                                a.nav-link(href='/users/edit-user?id='+user._id) Your Profile
                        else
                            li.nav-item
                                a.nav-link(href='/visitors/edit-visitor?id='+user._id) Your Profile
                        li.nav-item
                            a.nav-link(href='/change-password') Change Password
                        li.nav-item
                            a.nav-link(href='/logout') Log out
                    else
                        li.nav-item
                            a.nav-link(href='/') Log in
            block content