extends layout

block content
    .container(style="max-width:500px")
        // TITLE STARTS HERE
        h3.title=title
        hr
        // TITLE ENDS HERE

        center
            // INPUT FORM STARTS HERE
            form(method="POST" action="/authorize")
                div.form-group
                    input.form-control(type="email" name="username" placeholder="Enter E-mail")
                div.form-group
                    input.form-control(type="password" name="password" placeholder="Enter Password")
                button.btn.btn-primary(type="submit") Login
            // INPUT FORM ENDS HERE